:root {
  --primary-color: mediumspringgreen;
  --dark-color: #26372c;
  --light-color: whitesmoke;
}

.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 2em;
  padding: 2em;
}
.column {
  display: grid;
  grid-gap: 1em;
}
.outputs {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  grid-template-columns: auto;
}
pre {
  padding: 1em;
  overflow-x: auto;
  border-left: 0.2em solid blue;
  background-color: lightgrey;
}
pre code {
  white-space: pre-wrap;
}