
.horizontal-flow {
  display: flex;
  flex-direction: row;

  > div {
    flex-grow: 1;
    margin: 1em;
  }
}

.vertical-flow {
  display: flex;
  flex-direction: column;

  > div {
    margin: 1em;
  }
}

body {
  font-family: SansSerif, sans-serif;
}

pre {
  padding: 1em;
  overflow-x: auto;
  border-left: 0.2em solid blue;
  background-color: lightgrey;
}
pre code {
  white-space: pre-wrap;
}

.clipboard-copy-btn {
  cursor: pointer;
}

.clipboard-copy-btn:disabled {
  cursor: not-allowed;
}

select:disabled {
  cursor: not-allowed;
}

select.loading {
  cursor: wait;
}
